<h1>Defendants</h1>

<table>
   <tr>
      <th>Name</th>
      <th>Current Address</th>
      <th>Immigration Status</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>
   <tr>
      <%= render @defendants %>
   </td>
</table>