<h1>Attorneys</h1>

<table>
   <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>

   <% @attorneys.each do |attorney| %>
      <tr>
         <td><%= link_to attorney.name, attorney %></td>
         <td><%= link_to 'Edit', edit_attorney_path(attorney) %></td>
         <td><%= link_to 'Delete', attorney, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
   <% end %>
</table>

<br />

<%= link_to 'New Attorney', new_attorney_path %>
