<div class='basic_info'>
   <h2>
     <strong>NAME:</strong> <%= @attorney.name %> (<%= link_to 'edit', edit_attorney_path(@attorney) %>)
   </h2>
</div>

<div class='cases'>
   <h2>CASES</h2>
   <table>
      <tr>
         <th>Docket Number</th>
         <th>Next Court Date</th>
      </tr>
      <% @attorney.cases.each do |c| %>
         <tr>
            <td><%= link_to(c.docket_number, case_path(c)) %></td>
            <td><%= c.next_court_date %></td>
         </tr>
      <% end %>
   </table>
</div>
